<nav class="navbar navbar-expand-lg navbar-light  second-nav " style="background-color: #9d6bbb;" >
  <a class="navbar-brand" href="#" style="color:azure; font-size: 12px;">SORT BY</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link"  style="color:azure; font-size: 12px;" routerLink="/product">ALL PRODUCTS</a>
      <a class="nav-item nav-link" style="color:azure; font-size: 12px;"  routerLink="/productbyasc">ASC PRICES</a>
      <a class="nav-item nav-link" style="color:azure; font-size: 12px;"  routerLink="/productbydesc">DESC PRICES</a>
    </div>
  </div>
</nav>